html{
    font-family: 'poppins';
    font-size: 65%;
    
}
header{
    margin: 0;
}
body{
    max-width: 1400px;
    margin: 0 auto;
    background-color: wheat;
}
.logo{
    height: 5.5em;
    width: 5.5em;
    background: black;
    border-radius: 3em;
    background-image: url('../images/logo.jpg');
    background-size: 100%;
    background-position: center;
    pointer-events: none;
}


.navbar{
    width: 1400px;
    height: 75px;
    display: flex; 
    margin-top: .2em;
    align-items: center;
}

nav ul{
    display: flex;
    list-style-type: none;
}
.ul-nav{
    width: 100%;
    display: flex;
    gap: 53%;
}
.primary-nav{
    align-items: center;
    gap: 30px;
    font-size: 1.8em;
}
.secondary-nav{
    gap: 1em;
    text-transform: uppercase;
    font-size: 1.4em;
    align-items: center
}

.primary-nav li a{
        color: black ;
        text-decoration: none;
        font-weight: 500;
}
.primary-nav li a:hover, .primary-nav li a:active {
    color: white;
}
.primary-nav li a:focus{
color: white;
}
.secondary-nav  a{
        color: white;
        background: #080808 ;
        padding: 1.2em 2em;
        border-radius: 30px;
        text-decoration: none;
        font-weight: bold;
}
main{
    display: flex;
    flex-direction: column;
    gap: 10em;
}
.hero-section{
    display: flex;
    gap: 2em;
    margin: 0;
    margin-top: 1em;
    font-size: 1.4em;
}
 h1{
    font-size: 6em;
    font-weight: 700;
    color: black;
    margin: 0;
}
.text-wrap{
    margin-top: 50px;
}
.text-wrap p{
    font-size: 2em;
    font-weight: 500;
    margin: 0;
}

.right-section{
    margin: 0;
    width: 690px;
    height: 800px;
}
.left-section {
    flex-grow: 1;
    background-image: url('../images/coffee.jpg');
    border-radius: 1.2em;
    background-size: 105%;
    transition: background-size 1000ms;

}
.left-section:hover{
    background-size: 101.5%;
}
.upper-section{
background-image: url('../images/coffee1.jpg');
background-size: 120%;
width: 680px;
height: 400px;
border-radius: 1.2em;
}

.product-btns{
    margin-top: 46px;
    display: flex;
    gap: 30px;    
}
.hero{
    background: gray;
    border-radius: .6em;
    width: 200px;
    padding: 15px;
    height: auto;
    display: flex;
    align-items: center ;
    justify-content: space-between;
}
.hero p{
    margin: 0;
}
.card1 p, .card2 p{
    font-size: 15px;
    text-transform: uppercase;
    color: grey;
}
.product {
    text-decoration: none;
    margin: 0;
    color: black;
    font-weight:500;
    font-size: 20px;
}
.title1 {
    color: white;
   }
.card1 {
    background:  #111111;
}


.card2{
    background: white;
}
.carticon{
    margin: 0;
    transform: scaleX(-1);
}
.carticon1{
    margin: 0;
    right: 40px;
    width: 20px;
    height: 20px;
    transform: scaleX(-1);   
    
}
.content{
    background: #000000;
    width: 100%;
    height: auto;
    display: flex;
    gap: 1em;
    font-size: 1em;
    border-radius: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
}
.right-content{
    width: 48em;
    margin-top: 4em;
}
.right-content h1{
    margin: 0;
    font-weight: 700;
    font-size: 5.5em;
    color: #f0f0f0;
    line-height: 1em;
}
.right-content p{
    margin: 0;
    color: #f0f0f0;
    font-size: 1.8em;
    margin-top: 1em;
    margin-left: .3em;
    padding: 10px;
}
.left-content{
    width: 45em;
    height: 45em;
    background: grey;
    background-image: url('../images/combo1.gif');
    background-size: 100%;
    background-position: center;
    border-radius: 1.2em;
}
.card3 a{
    text-decoration: none;
    color: black;
    display: inline-block;
    font-size: 1.8em;
    background: wheat;
    margin-top: 2.2em;
    padding: .7em;
    width: 8em;
    border-radius: 15em;
    text-align: center;
}
.card3 a:hover{
    background-color: white;
    scale: 1.01;
}

.allproducts{
    display: flex;
    flex-direction: column;
    gap: 4em;
    justify-content: center;
    align-items: center;
}

h2{
    text-align: center;
    font-size: 5em;
    margin: 0;
    margin-bottom: 1em;


}
.products{
    display: flex;
    width: 1400px;
    gap: 40px;
    justify-content: space-evenly;    
}

.prod{
    width: 26em;
    height: 32em;
    background: gray;
    border-radius: 1.5em;
    padding: 1.5em;
    display: flex;
    align-items: end;
    transition: background-size 1000ms;

}

.product{
    
    background-position: center;
    background-size: 100%;
    top: 45%;
}
.product:hover{
    background-size: 140.5%;
}

.btn{
    background: wheat;
    border-radius: .6em;
    padding: .6em;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.btn:hover{
    background-color: white;
    scale: 1.01;
}
.btn a{
    color:black;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0;
    cursor: pointer;
}
.btn p{
 font-size: 1.4rem;
 margin: 0;
}
p.pr-price{
    font-size: 1.8rem;
}
.cs-wrap{
    display: flex;
    gap: 8em;
    margin: 0;
    margin-bottom: 4em;
}
.combo-street{
    background: black;
    width: 100%;
    height: 600px;
    padding: 2em;
    padding-top: 20em;
    margin: 0;
    border-radius: 1.5em;
}
.cs-left{
    width: 42em;
    height: 46em;
}
.cs-right{
    flex-grow: 1;
    background-image: url('../images/combo.jpg');
    background-size: 130%;
    background-position: center;
    border-radius: 1.8em;

}


/* continue */

.allpro{
    background: gray;
    border-radius: 15px;
    padding: .7em;
    height: auto;
    display: flex;
    align-items: center ;
    justify-content: center;
    width: 250px;
    padding: 20px;
   background-color: black;
   gap: 10px;

}
.allpro:hover{
    background-color: gray;
    scale: 1.03;
}



.pro_modal{
    position: absolute;
    background: #000000;
    width: 1000px;
    height: auto;
    display: flex;
    gap: 1em;
    font-size: 1em;
    border-radius: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
    z-index: 1001;
}
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(95, 87, 87, 0.65); /* Semi-transparent black overlay */
    opacity: 100; /* Initially hidden */
    z-index: 1000; /* Adjust this value as needed to control layering */
    transition: opacity 0.3s ease, visibility 0.3s ease;
}
.left-content1{
    width: 45em;
    height: 45em;
    margin: 30px;
    background-size: 100%;
    background-position: center;
    border-radius: 1.2em;
}
h1 span{
    font-size: 20px;
display: flex;
color: gray;
}

.order{
    display: flex;
    justify-content: space-between;
}

.hidden{
    display: none;
}
